/*-- -------------------------- -->
<---            Body            -->
<--- -------------------------- -*/
@media only screen and (min-width: 0px) {
  #main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #hero {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  #about-page {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  #ryan {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  #quality {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  #footer {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
}
@media only screen and (min-width: 1024px) {
  #main {
    display: block;
  }
}
/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
@media only screen and (min-width: 0px) {
  .white-clip,
  .red-clip {
    display: none;
  }
  #hero {
    height: auto;
    background: url("/images/about-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 2.5em;
    padding-bottom: 12.5em;
  }
  #hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 10em;
    width: 50em;
    background: #fff;
    bottom: -9em;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-10deg);
    transform: translateX(-50%) rotate(-10deg);
    z-index: 100;
    border-top: 3em solid var(--primary);
  }
  #dark {
    position: absolute;
    background: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: 0;
  }
  .heroText {
    max-width: 20em;
    margin: auto;
    margin-top: 5.3em;
    text-align: center;
  }
  .hero-content {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 2.5em;
  }
  #home-h {
    color: #fff;
    font-size: 1.6em;
    width: 100%;
    margin-bottom: 0.3125em;
    text-align: center;
    margin-bottom: 0.9375em;
    font-family: 'Russo';
    line-height: 1.2em;
  }
  #home-h span {
    color: #fff;
  }
  .heroText h2 {
    color: #fff;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 2.5em;
    font-family: "Barlow", sans-serif;
  }
  .heroText h2 .bold {
    font-weight: bold;
    color: var(--primary);
  }
  #home-p {
    color: #fff;
    font-size: 0.8em;
    font-weight: normal;
    width: 100%;
    line-height: 1.6em;
    text-align: center;
  }
  .heroText button {
    width: 100%;
    height: 3.05555556em;
    max-width: 16.66666667em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .heroText a {
    display: block;
    margin: auto;
  }
  .heroText .button-solid {
    margin-bottom: 0.55555556em;
    margin-top: 1.66666667em;
    width: auto;
    display: inline-block;
  }
  .heroText .button-transparent {
    border: none;
  }
}
@media only screen and (min-width: 400px) {
  .heroText {
    margin-top: 4em;
  }
  #home-h {
    font-size: 1.8em;
    line-height: 1;
    font-weight: normal;
  }
  .heroText h2 {
    font-size: 0.9em;
    line-height: 1.2;
    font-weight: normal;
  }
}
@media only screen and (min-width: 768px) {
  #hero {
    padding-bottom: 15em;
    background: url("/images/about.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #hero:before {
    width: 150em;
    bottom: -6em;
  }
  .heroText {
    margin-top: 10em;
    max-width: 28.5em;
  }
  #home-h {
    font-size: 2.9em;
    line-height: 1;
  }
  .heroText h2 {
    width: 25em;
    margin: auto;
    margin-bottom: 2.5em;
    font-size: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  #hero {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    min-height: 48.45em;
    height: 48.45em;
    position: relative;
    z-index: 109;
    background-attachment: fixed;
  }
  #hero:before {
    bottom: -6.6em;
    display: none;
  }
  #hero .container {
    width: 96%;
    padding: 0;
    max-width: 55em;
  }
  .heroText {
    margin-top: 18.95em;
    margin-left: 0;
    max-width: 27.5em;
    text-align: left;
  }
  #home-h {
    text-align: left;
    display: block;
    font-size: 2.9em;
    line-height: 1.20689655;
    margin-bottom: 0.86206897em;
  }
  #home-h span {
    line-height: 0.48275862em;
  }
  .heroText h2 {
    text-align: left;
    line-height: 1.33333333em;
    width: 17.5em;
    margin-left: 0;
    font-size: 0.9em;
    margin-bottom: 4.05555556em;
  }
  .heroText a {
    display: inline-block;
  }
  .heroText .button-solid {
    margin: 0;
    margin-left: 0.33333333em;
  }
  .heroText .button-solid:hover {
    background: #fff;
    color: var(--primary);
  }
  .heroText .button-solid:hover:before {
    border: 0.11111111em solid #ffffff;
  }
  .heroText .button-transparent {
    border: none;
  }
}
@media only screen and (min-width: 1400px) {
  .white-clip,
  .red-clip {
    display: block;
    position: absolute;
    bottom: -7.25em;
    width: 100%;
    left: 0;
    height: 20em;
  }
  .white-clip {
    -webkit-clip-path: polygon(0 60.5%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 60.5%, 100% 0, 100% 100%, 0% 100%);
    background: #fff;
    z-index: 11;
  }
  body.dark-mode .white-clip {
    background: var(--dark);
  }
  .red-clip {
    -webkit-clip-path: polygon(0 60.5%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 60.5%, 100% 0, 100% 100%, 0% 100%);
    background: var(--primary);
    bottom: -2.25em;
    z-index: 10;
  }
  #hero {
    padding-bottom: 15em;
    height: auto;
  }
  .hero-content {
    margin-top: 0;
  }
}
/*-- -------------------------- -->
<---           About            -->
<--- -------------------------- -*/
@media only screen and (min-width: 0em) {
  #about-page {
    position: relative;
    text-align: center;
    /* Card */
  }
  #about-page .triangles {
    position: absolute;
    z-index: 101;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: -2.15em;
    width: 30em;
    height: auto;
    display: none;
    left: -1.5em;
    opacity: 1;
  }
  #about-page .cls-1,
  #about-page .cls-2,
  #about-page .cls-3,
  #about-page .cls-4,
  #about-page .cls-5,
  #about-page .cls-6 {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 2.3s;
    animation-duration: 2.3s;
    opacity: .2;
  }
  #about-page .triangles .cls-1 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-duration: 2.73s;
    animation-duration: 2.73s;
  }
  #about-page .triangles .cls-1:nth-of-type(2n+0) {
    -webkit-animation-delay: .17s;
    animation-delay: .17s;
    -webkit-animation-duration: 2.18s;
    animation-duration: 2.18s;
  }
  #about-page .triangles .cls-2 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 2.73s;
    animation-duration: 2.73s;
  }
  #about-page .triangles .cls-3 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
  }
  #about-page .triangles .cls-3:nth-of-type(2n+0) {
    -webkit-animation-delay: .27s;
    animation-delay: .27s;
    -webkit-animation-duration: 2.38s;
    animation-duration: 2.38s;
  }
  #about-page .triangles .cls-4 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 3.3s;
    animation-duration: 3.3s;
  }
  #about-page .triangles .cls-4:nth-of-type(4n+0) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 3.1s;
    animation-duration: 3.1s;
  }
  #about-page .triangles .cls-5 {
    -webkit-animation-delay: .32s;
    animation-delay: .32s;
    -webkit-animation-duration: 2.6s;
    animation-duration: 2.6s;
  }
  #about-page .triangles .cls-6 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  #about-page .container {
    position: relative;
    z-index: 102;
    max-width: 25em;
  }
  #about-page .right-content {
    -webkit-box-shadow: 0px 0.2em 2.25em 0.2em rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0.2em 2.25em 0.2em rgba(0, 0, 0, 0.14);
    padding: 1em;
    margin-top: 2.5em;
    max-width: 29em;
    margin-left: auto;
    margin-right: auto;
  }
  #about-page .right-content .image {
    background: url("../images/wall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 7.5em;
    width: 100%;
    border-radius: 0.25em;
    margin-bottom: 1em;
  }
  #about-page .right-content h3 {
    font-size: 1.1em;
    text-align: left;
    font-weight: bold;
  }
  #about-page .right-content p {
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: left;
  }
  .standard {
    text-align: center;
  }
  .standard .sub {
    color: var(--primary);
    font-size: 1em;
    line-height: 1.45em;
    font-weight: 700;
    display: block;
    margin-bottom: 0.85em;
  }
  .standard h2 {
    font-size: 1.6em;
    line-height: 1.25;
    margin-bottom: 1.34375em;
  }
  .standard p {
    margin-bottom: 1.25em;
  }
}
@media only screen and (min-width: 400px) {
  #about-page .triangles {
    top: -1.3em;
  }
}
@media only screen and (min-width: 667px) {
  #about-page .triangles {
    top: -0.3em;
  }
}
@media only screen and (min-width: 48em) {
  #about-page .triangles {
    top: -3.05em;
  }
  #about-page .container {
    max-width: 33.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2.5em;
  }
  #about-page .card:nth-of-type(1),
  #about-page .card:nth-of-type(3) {
    -webkit-transform: translateY(1.5em);
    transform: translateY(1.5em);
  }
  #about-page .card:nth-of-type(2),
  #about-page .card:nth-of-type(4) {
    -webkit-transform: translateY(-1.5em);
    transform: translateY(-1.5em);
  }
  #about-page .right-content {
    padding: 1.8em;
  }
  #about-page .right-content .image {
    height: 8.6em;
    margin-bottom: 1.25em;
  }
  #about-page .right-content h3 {
    font-size: 1.2em;
    line-height: 1.20833333em;
    margin-bottom: 1.08333333em;
  }
  #about-page .right-content p {
    font-size: 0.9em;
    line-height: 1.33333333em;
  }
  .standard-group {
    width: 30.5em;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .standard-group h2 {
    font-size: 1.8em;
    width: 14.52777778em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.11111111em;
  }
}
@media only screen and (min-width: 64em) {
  #about-page {
    position: relative;
  }
  #about-page:before {
    content: '';
    position: absolute;
    display: block;
    height: 10em;
    width: 150em;
    background: #fff;
    top: -9em;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-10deg);
    transform: translateX(-50%) rotate(-10deg);
    z-index: 109;
    border-top: 5em solid var(--primary);
  }
  #about-page .triangles {
    width: 65.75em;
    top: -7.15em;
    pointer-events: none;
    z-index: 110;
    opacity: .4;
    display: block;
  }
  #about-page .container {
    width: 100%;
    max-width: 55em;
    margin-top: -18.5em;
    z-index: 110;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
  }
  #about-page .standard-group {
    text-align: left;
    width: 21.5em;
    margin-left: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-transform: translateY(2.4em);
    transform: translateY(2.4em);
  }
  #about-page .standard-group h2 {
    text-align: left;
    margin-left: 0;
  }
  #about-page .standard-group p {
    margin-bottom: 0;
  }
  #about-page .right-content {
    width: 55%;
    max-width: 29em;
    background: #fff;
    margin: 0;
  }
  body.dark-mode #about-page:before {
    background: var(--dark);
  }
  body.dark-mode #about-page .right-content {
    background: #181616;
    -webkit-box-shadow: 0px 0px 1.25em -0.25em rgba(250, 32, 68, 0.7);
    box-shadow: 0px 0px 1.25em -0.25em rgba(250, 32, 68, 0.7);
    border-right: 0.05em solid var(--primary);
    border-top: 0.05em solid var(--primary);
    border-left: 0.05em solid var(--primary);
    border-bottom: 0.25em solid var(--primary);
  }
}
@media only screen and (min-width: 1300px) {
  #about-page .container {
    padding: 0;
  }
  #about-page .container:before {
    margin-left: -26.4em;
    width: 0.4em;
  }
  #about-page .container:after {
    bottom: -25.3em;
    margin-left: -10.8em;
    width: 0.4em;
  }
  #about-page .card {
    margin: 0;
  }
}
@media only screen and (min-width: 1400px) {
  #about-page {
    margin-top: -3%;
  }
  #about-page:before {
    height: 18.55em;
    display: none;
  }
}
@media only screen and (min-width: 1500px) {
  #about-page .triangles {
    top: -2.5em;
    -webkit-transform: rotate(-8.5deg);
            transform: rotate(-8.5deg);
  }
}
/*-- -------------------------- -->
<---       Ryan Spotlight       -->
<--- -------------------------- -*/
@media only screen and (min-width: 0em) {
  #ryan {
    padding-bottom: 0px;
  }
  #ryan .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 100;
    position: relative;
    margin-top: -12em;
  }
  #ryan .left-content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  #ryan .ryan {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: block;
    width: 92%;
    max-width: 20em;
    height: auto;
    margin: auto;
    -webkit-box-shadow: 0em 0.2em 2.25em 0.2em rgba(0, 0, 0, 0.14);
    box-shadow: 0em 0.2em 2.25em 0.2em rgba(0, 0, 0, 0.14);
    margin-bottom: 2.5em;
  }
  #ryan h2 {
    text-align: center;
    margin-bottom: 0.78125em;
    font-size: 1.6em;
  }
  #ryan p {
    text-align: center;
    margin-bottom: 3.125em;
    max-width: 21.875em;
    margin-left: auto;
    margin-right: auto;
  }
  #ryan .social {
    text-align: center;
  }
  #ryan .social a {
    display: inline-block;
    margin: 0 0.5em;
  }
  #ryan .social a img {
    width: 1em;
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  #ryan {
    padding-bottom: 2.5em;
  }
}
@media only screen and (min-width: 1024px) {
  #ryan {
    position: relative;
    margin-bottom: 0em;
    margin-top: 7em;
    padding-bottom: 0;
    margin-bottom: 7.5em;
  }
  #ryan:before {
    content: '';
    position: absolute;
    display: block;
    height: 24.25em;
    width: 37.5em;
    background: linear-gradient(143.13deg, #e30126 0%, #ff5f79 99.71%);
    opacity: 1;
    top: 50%;
    -webkit-transform: translateY(-49.5%);
    transform: translateY(-49.5%);
    right: 0;
  }
  #ryan .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 0em;
    width: 100%;
    max-width: 55em;
    margin-top: 0;
  }
  #ryan .left-content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 4.25em;
  }
  #ryan .left-content h2 {
    text-align: left;
  }
  #ryan .left-content p {
    text-align: left;
    width: 14.375em;
    line-height: 1.1875em;
  }
  #ryan .ryan {
    margin: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    border: 0.05em solid var(--primary);
    width: 100%;
    max-width: 31.25em;
  }
  #ryan .social {
    text-align: left;
  }
  #ryan .social a {
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
  }
  #ryan .social a:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}
/*-- -------------------------- -->
<---          Qualities         -->
<--- -------------------------- -*/
@media only screen and (min-width: 0em) {
  #quality {
    position: relative;
  }
  #quality .neon span:nth-child(1) {
    margin-right: 0.26666667em;
  }
  #quality .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #quality .content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
  }
  #quality .signature {
    font-size: 1.2em;
    line-height: 1.20833333em;
    font-weight: 700;
    margin-bottom: 0.83333333em;
    display: block;
    text-align: center;
  }
  #quality .title {
    font-size: 0.9em;
    line-height: 1.22222222em;
    font-weight: 800;
    display: block;
    text-align: center;
  }
  #quality img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: block;
    margin: auto;
    margin-bottom: 2.5em;
  }
}
@media only screen and (min-width: 568px) {
  #quality img {
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 48em) {
  #quality {
    padding-bottom: 5em;
  }
}
@media only screen and (min-width: 64em) {
  #quality {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  #quality .container {
    width: 100%;
    max-width: 54.7em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #quality .content {
    width: 25.15em;
    text-align: left;
    margin-left: auto;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  #quality h2 {
    margin-bottom: 1.25em;
  }
  #quality .content p {
    font-size: 0.8em;
    line-height: 1.1875em;
    width: 32.8125em;
  }
  #quality .signature {
    text-align: left;
  }
  #quality .title {
    text-align: left;
  }
  #quality img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 26.25em;
    width: 40vw;
    height: 50%;
    margin: 0;
    max-height: 34.55em;
  }
}
@media only screen and (min-width: 1300px) {
  #quality img {
    position: relative;
    z-index: 100;
    -webkit-transform: translateY(4.5em);
    transform: translateY(4.5em);
  }
}
