@-webkit-keyframes neonGlow {
    0%, 100% {
        color: #9fa0a1;
        -webkit-filter: blur(2px);
                filter: blur(2px);
        text-shadow: 0 0 10px #fa2044,
                    0 0 20px #fa2044,
                    0 0 40px #fa2044,
                    0 0 50px #fa2044,
                    0 0 60px #fa2044;

    }

    5%, 95% {
        color: #fff;
        -webkit-filter: blur(0px);
                filter: blur(0px);
        text-shadow: none;
    }
}


@keyframes neonGlow {
    0%, 100% {
        color: #abe1fe;
        -webkit-filter: blur(2px);
                filter: blur(2px);
        text-shadow: 0 0 10px #fa2044,
                    0 0 20px #fa2044,
                    0 0 40px #fa2044,
                    0 0 50px #fa2044,
                    0 0 60px #fa2044;

    }

    5%, 95% {
        color: #fff;
        -webkit-filter: blur(0px);
                filter: blur(0px);
        text-shadow: none,
    }
}

@keyframes glow {
    0% {
        border-color: var(--primary);
        -webkit-box-shadow: 0 0 5px rgba(156, 6, 32,.2), inset 0 0 5px rgba(156, 6, 32,.1), 0 2px 0 #000;
                box-shadow: 0 0 5px rgba(156, 6, 32,.2), inset 0 0 5px rgba(156, 6, 32,.1), 0 2px 0 #000;
    }
    
    15% {
        border-color: #ff2b4e;
        -webkit-box-shadow: 0 0 10px rgba(156, 6, 32,.9), inset 0 0 10px rgba(156, 6, 32,.6), 0 2px 0 #000;
                box-shadow: 0 0 10px rgba(156, 6, 32,.9), inset 0 0 10px rgba(156, 6, 32,.6), 0 2px 0 #000;
    }

    16% {
        border-color: transparent;
        -webkit-box-shadow: 0 0 20px transparent, inset 0 0 10px transparent, 0 2px 0 transparent;
                box-shadow: 0 0 20px transparent, inset 0 0 10px transparent, 0 2px 0 transparent;
    }

    17% {
        border-color: var(--primary);
        -webkit-box-shadow: 0 0 5px rgba(156, 6, 32,.2), inset 0 0 5px rgba(156, 6, 32,.1), 0 2px 0 #000;
                box-shadow: 0 0 5px rgba(156, 6, 32,.2), inset 0 0 5px rgba(156, 6, 32,.1), 0 2px 0 #000;
    }	

    20% {
        border-color: #ff2b4e;
        -webkit-box-shadow: 0 0 10px rgba(156, 6, 32,.9), inset 0 0 10px rgba(156, 6, 32,.6), 0 2px 0 #000;
                box-shadow: 0 0 10px rgba(156, 6, 32,.9), inset 0 0 10px rgba(156, 6, 32,.6), 0 2px 0 #000;
    }

    30% {
        border-color: var(--primary);
        -webkit-box-shadow: 0 0 5px rgba(156, 6, 32,.2), inset 0 0 5px rgba(156, 6, 32,.1), 0 2px 0 #000;
                box-shadow: 0 0 5px rgba(156, 6, 32,.2), inset 0 0 5px rgba(156, 6, 32,.1), 0 2px 0 #000;
    }
    
    100% {
        border-color: #ff2b4e;
        -webkit-box-shadow: 0 0 10px rgba(156, 6, 32,.6), inset 0 0 10px rgba(156, 6, 32,.9), 0 2px 0 #000;
                box-shadow: 0 0 10px rgba(156, 6, 32,.6), inset 0 0 10px rgba(156, 6, 32,.9), 0 2px 0 #000;
    }
}

@keyframes glowWhite {
    0% {
        border-color: #ebebeb;
        -webkit-box-shadow: 0 0 5px rgba(173, 173, 173,.2), inset 0 0 5px rgba(173, 173, 173,.1), 0 2px 0 #000;
                box-shadow: 0 0 5px rgba(173, 173, 173,.2), inset 0 0 5px rgba(173, 173, 173,.1), 0 2px 0 #000;
    }
    
    15% {
        border-color: #fff;
        -webkit-box-shadow: 0 0 10px rgba(173, 173, 173,.9), inset 0 0 10px rgba(173, 173, 173,.6), 0 2px 0 #000;
                box-shadow: 0 0 10px rgba(173, 173, 173,.9), inset 0 0 10px rgba(173, 173, 173,.6), 0 2px 0 #000;
    }

    16% {
        border-color: transparent;
        -webkit-box-shadow: 0 0 20px transparent, inset 0 0 10px transparent, 0 2px 0 transparent;
                box-shadow: 0 0 20px transparent, inset 0 0 10px transparent, 0 2px 0 transparent;
    }

    17% {
        border-color: #ebebeb;
        -webkit-box-shadow: 0 0 5px rgba(173, 173, 173,.2), inset 0 0 5px rgba(173, 173, 173,.1), 0 2px 0 #000;
                box-shadow: 0 0 5px rgba(173, 173, 173,.2), inset 0 0 5px rgba(173, 173, 173,.1), 0 2px 0 #000;
    }	

    20% {
        border-color: #fff;
        -webkit-box-shadow: 0 0 10px rgba(173, 173, 173,.9), inset 0 0 10px rgba(173, 173, 173,.6), 0 2px 0 #000;
                box-shadow: 0 0 10px rgba(173, 173, 173,.9), inset 0 0 10px rgba(173, 173, 173,.6), 0 2px 0 #000;
    }

    30% {
        border-color: #ebebeb;
        -webkit-box-shadow: 0 0 5px rgba(173, 173, 173,.2), inset 0 0 5px rgba(173, 173, 173,.1), 0 2px 0 #000;
                box-shadow: 0 0 5px rgba(173, 173, 173,.2), inset 0 0 5px rgba(156, 6, 32,.1), 0 2px 0 #000;
    }
    
    100% {
        border-color: #fff;
        -webkit-box-shadow: 0 0 10px rgba(173, 173, 173,.6), inset 0 0 10px rgba(173, 173, 173,.9), 0 2px 0 #000;
                box-shadow: 0 0 10px rgba(173, 173, 173,.6), inset 0 0 10px rgba(173, 173, 173,.9), 0 2px 0 #000;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 0;
    }
}