/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {

    .white-clip, .red-clip {
        display: none;
    }

    #hero {
        height: auto;
        background: url("/images/contact-mobile.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        padding-top: 50/20em;
        padding-bottom: 250/20em;

        &:before {
            content: '';
            position: absolute;
            display: block;
            height: 200/20em;
            width: 1000/20em;
            background: #fff;
            bottom: -180/20em;
            left: 50%;
            -webkit-transform: translateX(-50%) rotate(-10deg);
                -ms-transform: translateX(-50%) rotate(-10deg);
                    transform: translateX(-50%) rotate(-10deg);
            z-index: 100;
            border-top: 60/20em solid var(--primary);
        }
        
        #dark {
            position: absolute;
            background: #000;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: .7;
            z-index: 0;
        }

        .hero-content {
            width: 100%;
            position: relative;
            z-index: 1;
            margin-top: 50/20em;
        }
        
        .heroText {
            max-width: 600/20em;
            margin: auto;
            margin-top: 106/20em;
            text-align: center;

            h2 {
                color: #fff;
                font-size: 18/20em;
                font-weight: normal;
                text-align: center;
                line-height: 1.5em;
                margin-bottom: 40/18em;
                font-family: "Barlow", sans-serif;
            }
        
            h2 .bold {
                font-weight: bold;
                color: var(--primary);
            }
            
            button {
                width: 100%;
                height: 55/18em;
                max-width: 300/18em;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            
            a {
                display: block;
                margin: auto;
            }
            
            .button-solid {
                margin-bottom: 10/18em;
                margin-top: 30/18em;
                width: auto;
                display: inline-block;
            }
        
            .button-transparent {
                border: none;
            }
        }
        
        #home-h {
            color: #fff;
            font-size: 58/20em;
            line-height: 70/58em;
            width: 100%;
            margin-bottom: 10/58em;
            text-align: center;
            margin-bottom: 30/58em;
            font-family: 'Russo';

            span {
                color: d#fff;
            }
        }
        
    }
}

@media only screen and (min-width: 400px) {

    .heroText {
        margin-top: 80/20em;
    }

    #home-h {
        font-size: 58/20em;
        line-height: 70/58em;
        font-weight: normal;
    }

    .heroText h2 {
        font-size: 18/20em;
        line-height: 24/18em;
        font-weight: normal;
    }
}

@media only screen and (min-width: 768px) {

    #hero {
        padding-bottom: 300/20em;
        background: url("/images/contact.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #hero:before {
        width: 3000/20em;
        bottom: -120/20em;
    }

    .heroText {
        margin-top: 200/20em;
        max-width: 570/20em;
    }

    #home-h {
        font-size: 58/20em;
        line-height: 70/58em;
    }

    .heroText h2 {
        width: 500/20em;
        margin: auto;
        margin-bottom: 50/20em;
        font-size: 20/20em;
    }
}

@media only screen and (min-width: 1024px) {

    .active-menu {
        border-bottom: 4/16em solid var(--primary);
    }

    #hero {
        padding-left: 0;
        padding-right: 0;
        padding-top: 100/20em;
        padding-bottom: 400/20em;
        height: auto;
        position: relative;
        background-attachment: fixed;
    }

    #hero:before {
        bottom: -132/20em;
    }
    
    #hero .container {
        width: 96%;
        padding: 0;
        max-width: 1100/20em;
    }

    .heroText {
        margin-top: 310/20em;
        width: 100%;
        max-width: 960/20em;
    }

    #home-h {
        margin-bottom: 42/58em;
    }

    .heroText h2 {
        width: 100%;
        max-width: 610/20em;
    }
}

@media only screen and (min-width: 1400px) {

    #hero {
        padding-bottom: 400/20em;
        height: auto;
    }

    .hero-content {
        margin-top: 0;
    }

    .white-clip, .red-clip {
        display: block;
        position: absolute;
        bottom: -187/20em;
        width: 100%;
        left: 0;
        height: 400/20em;
    }

    .white-clip {
        -webkit-clip-path: polygon(0 60.5%, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 60.5%, 100% 0, 100% 100%, 0% 100%);
        background: #fff;
        z-index: 11;
        bottom: -187/20em;
    }

    body.dark-mode .white-clip {
        background: var(--dark);
    }

    body.dark-mode {
        #hero {
            &:before {
                border-top: 100/20em solid var(--primary) !important;
            }
        }
    }
    
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0em) {

    #services {
        position: relative;
        padding-top: 100/20em;
        z-index: 100;

        .container {
            margin-top: -370/20em;
        }

        .services {
            margin-top: 50/20em;

            img {
                width: 80/20em;
                height: auto;
                display: block;
                margin: auto;
                margin-bottom: 43/20em;
            }
        }
    
        .card {
            -webkit-box-shadow: 0px 10/20em 40/20em rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 10/20em 40/20em rgba(0, 0, 0, 0.1);
            padding: 50/20em 0;
            margin-bottom: 25/20em;

            &:nth-child(2) {
                background: -o-linear-gradient(225deg, #525252 0%, #0C0C0C 100%);
                background: linear-gradient(225deg, #525252 0%, #0C0C0C 100%); 
                position: relative;
                z-index: 1;
            }
        
            &:nth-child(2) h3,
            &:nth-child(2) span,
            &:nth-child(2) li {
                color: #fff;
            }
        
            &:nth-child(2) .button-solid {
                background: #fff;
                color: var(--primary);
            }
        
            &:nth-child(2) .button-solid:before {
                border: 2/18em solid #fff;
            }
        
        }
    
        h3, span {
            font-size: 24/20em;
            line-height: 28/24;
            font-weight: 700;
            display: block;
        }
    
        h3 {
            margin-bottom: 28/24em;
            font-family: 'BarlowBold';
        }
    
        ul {
            padding: 0;
            margin-bottom: 50/20em;

            li {
                font-size: 16/20em;
                line-height: 19/16;
                margin-bottom: 15/16em;
                list-style: none;
            }
        }

    }

    .standard {
        text-align: center;

        .sub {
            color: var(--primary);
            font-size: 20px;
            line-height: 29/20em;
            font-family: 'BarlowBold';
            display: block;
            margin-bottom: 17/20em;
        }
    
        .aria-tag {
            position: absolute;
            top: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            opacity: 0;
            z-index: -100;
        }
    
        h2 {
            font-size: 32/20em;
            line-height: 40/32em;
            margin-bottom: 43/32em;
        }
    
        p {
            margin-bottom: 20/16em;
        }
    }
}

@media only screen and (min-width: 400px) {

    #services {
        .symbol-group {
            top: 50/20em;

            .img1 {
                right: 40%;
                top: -10%;
            }
        
            .img2 {
                left: 20%;
                right: auto;
                top: -10%;
            }
        
            .img3 {
                left: 78%;
                top: 30%;
            }
        
            .img4 {
                right: 15%;
                left: auto;
                top: -14%;
            }
        
            .img5 {
                display: none;
            }
        
            .img6 {
                display: none;
            }
        
            .img7 {
                left: 111/20em;
                top: -29/20em;
                display: none;
            }
        
            .img8 {
                left: 15%;
                bottom: 90%;
                display: none;
            }
        
            .img9 {
                left: 25%;
                right: auto;
                bottom: 39%;
            }
        
            .img10 {
                left: 79%;
                top: 29%;
                display: none;
            }
        
            .img11 {
                right: 14%;
                bottom: 1%;
            }
        
            .img12 {
                left: 8%;
                bottom: 40%;
            }
        
            .img13 {
                right: 59%;
                top: 10%;
            }
        
            .img14 {
                left: 1%;
                top: -26%;
            }
        
            .img15 {
                left: 2%;
                bottom: -5%;
            }
        
            .img16 {
                right: 0%;
                left: auto;
                top: 20%;
            }
        
            .img17,
            .img18 {
                display: block;
            }
        
            .img17 {
                right: 5%;
                top: -35%;
                display: none;
            }
        
            .img18 {
                right: 30%;
                top: 30%;
            }
        }
    }
}

@media only screen and (min-width: 568px) {

    #services {
        .services {
            max-width: 400/20em;
            margin-left: auto;
            margin-right: auto;
        } 
    } 
}

@media only screen and (min-width: 48em) {

    #services {
        max-width: 100%;
        padding-top: 150/20em;

        .symbol-group {
            top: 80/20em;
        }
    
        .container {
            max-width: 548/20em;
        }
    
        .services {
            max-width: 548/20em;
        }
    
        .card {
            width: 100%;
            max-width: 100%;
        }
    }
}

@media only screen and (min-width: 64em) {

    #services {
        padding-top: 180/20em;

        .container {
            max-width: 100%;
            margin-top: -500/20em;
        }
    
        h2 {
            width: 700/48em;
            margin-left: auto;
            margin-right: auto;
            font-size: 48/20em;
            line-height: 56/48em;
            margin-bottom: 43/48em;
        }
    
        p {
            width: 610/16em;
            margin-left: auto;
            margin-right: auto;
        }
    
        .services {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            max-width: 100%;
            margin-top: 86/20em;
        }

        .card {
            &:nth-of-type(1),
            &:nth-of-type(3) {
                height: 630/20em;
                margin-top: 50/20em;
                width: 300/20em;
                display: block !important;
            }
        
            &:nth-of-type(2) {
                width: 400/20em;
            }
        
            &:nth-child(2) .button-solid:hover {
                background: var(--primary);
                color: #fff;
            }
        
            &:nth-child(2) .button-solid:hover:before {
                border: 2/20em solid var(--primary);
                
            }
        }
    }
}

@media only screen and (min-width: 1300px) {

    #services {
        .card {
            padding-top: 67/20em;

            &:nth-of-type(1), 
            &:nth-of-type(3) {
                width: 400/20em;
                height: 663/20em;
                margin-top: 89/20em;
            }
        
            &:nth-of-type(2) {
                width: 440/20em;
                height: 840/20em;
            }
        }
    
        ul {
            li {
                margin-bottom: 17/16em;
            }
        }
    }
}